Project.json
[{"id":"9bbd0ed4.749c4","type":"tab","label":"Project","disabled":false,"info":""},{"id":"d50e77d8.3c1738","type":"ui_form","z":"9bbd0ed4.749c4","name":"","label":"","group":"9a78cc7f.6475f","order":0,"width":0,"height":0,"options":[{"label":"Name of the product","value":"Product","type":"text","required":true,"rows":null},{"label":"Quantity","value":"Quantity","type":"text","required":true,"rows":null},{"label":"Number of days storage being used","value":"Duration","type":"number","required":true,"rows":null}],"formValue":{"Product":"","Quantity":"","Duration":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":240,"wires":[["2cf2d597.4492da","c374737b.7e2e3"]]},{"id":"2cf2d597.4492da","type":"function","z":"9bbd0ed4.749c4","name":"","func":"msg.payload=\"Data stored\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":240,"wires":[["98f73ac2.7ed1b8"]]},{"id":"98f73ac2.7ed1b8","type":"ui_text","z":"9bbd0ed4.749c4","group":"9a78cc7f.6475f","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":450,"y":240,"wires":[]},{"id":"e234e8ac.8086c8","type":"ui_form","z":"9bbd0ed4.749c4","name":"","label":"","group":"159f63cf.848afc","order":0,"width":0,"height":0,"options":[{"label":"Name of the user","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Mobile number","value":"mobileno","type":"number","required":true,"rows":null},{"label":"User ID","value":"UserID","type":"text","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"name":"","Email":"","mobileno":"","UserID":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":40,"wires":[["589bc645.57b718","75519df3.ce6164"]]},{"id":"589bc645.57b718","type":"function","z":"9bbd0ed4.749c4","name":"","func":"msg.payload=\"Registration successfully\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":40,"wires":[["775e9cc5.4ba7e4"]]},{"id":"775e9cc5.4ba7e4","type":"ui_text","z":"9bbd0ed4.749c4","group":"159f63cf.848afc","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":40,"wires":[]},{"id":"6ee982a9.db07ac","type":"visual-recognition-v3","z":"9bbd0ed4.749c4","name":"test","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/86aaca74-8ca0-40b6-826b-6131053ba74f","image-feature":"classifyImage","lang":"en","x":590,"y":360,"wires":[["7fce8415.4377bc"]]},{"id":"1b469f4d.4e43f1","type":"function","z":"9bbd0ed4.749c4","name":"","func":"msg.params={\"classifier_ids\":\"DefaultCustomModel_453048194\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[["6ee982a9.db07ac"]]},{"id":"7fce8415.4377bc","type":"function","z":"9bbd0ed4.749c4","name":"","func":"msg.payload=msg.result.images[0].classifiers[0].classes\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":500,"wires":[["f9f600ff.53bb8","f99e1f3a.32ce5"]]},{"id":"f99e1f3a.32ce5","type":"ui_template","z":"9bbd0ed4.749c4","group":"2bb040bc.46622","name":"detect","order":1,"width":"6","height":"10","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n    background-color: #bd6666!important;\n    text-align: center;\n\t}\n\th4 {\n\t   \n    color: #bd6666;\n\t}\n\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #307d76;\n\t\tborder-color: #307d76;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #fff;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav>\n\t\t<div>\n\t\t\t<h4><center>Status of stored food </center></h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-5\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div>\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t<h5> The Recognised Objects  </h5>\n\t\t\t<table class=\"table\">\n\t\t\t\t<thead class=\"thead-dark\">\n\t\t\t\t  <tr>\n\t\t\t\t\t<th>Class</th>\n\t\t\t\t\t<th>Score</th>\n\t\t\t\t  </tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody id=\"scoretable\">\n\t\t\t\t</tbody>\n\t\t\t  </table>\n\t\t\t  \n\t\t\t </div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t</div>\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(200)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score*100+\"%\";\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":210,"y":360,"wires":[["1b469f4d.4e43f1"]]},{"id":"f9f600ff.53bb8","type":"debug","z":"9bbd0ed4.749c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"750602eb.67343c","type":"cloudant out","z":"9bbd0ed4.749c4","name":"","cloudant":"","database":"smart_detect","service":"node-red-nmypf-cloudant-1594135578802-96553","payonly":true,"operation":"insert","x":510,"y":100,"wires":[]},{"id":"75519df3.ce6164","type":"function","z":"9bbd0ed4.749c4","name":"","func":"msg.payload={\n    _id:msg.payload.UserID,\n    Name:msg.payload.name,\n    Email:msg.payload.Email,\n    Mobile:msg.payload.mobileno,\n    UserID:msg.payload.UserID,\n    Password:msg.payload.Password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["750602eb.67343c"]]},{"id":"f2d295b2.5a9728","type":"ui_text","z":"9bbd0ed4.749c4","group":"9977e390.e67da","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":200,"wires":[]},{"id":"a8fd47f9.840d48","type":"ui_form","z":"9bbd0ed4.749c4","name":"","label":"","group":"9977e390.e67da","order":1,"width":"6","height":"8","options":[{"label":"User ID","value":"UserID","type":"text","required":true,"rows":null},{"label":"Passowrd","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"UserID":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":160,"wires":[["9d22bb8e.7d6738"]]},{"id":"9d22bb8e.7d6738","type":"function","z":"9bbd0ed4.749c4","name":"","func":"global.set(\"UsreID\",msg.payload.UserId);\nglobal.set(\"Password\",msg.payload.Password)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":180,"wires":[["941d75e7.ada6a8"]]},{"id":"fa9f1f9e.87532","type":"cloudant in","z":"9bbd0ed4.749c4","name":"","cloudant":"","database":"smart_detect","service":"node-red-nmypf-cloudant-1594135578802-96553","search":"_id_","design":"","index":"","x":570,"y":180,"wires":[["9863afee.2b823","f60ebdf4.eab5"]]},{"id":"941d75e7.ada6a8","type":"function","z":"9bbd0ed4.749c4","name":"","func":"var UserID=global.get(\"UserID\")\nmsg.payload={\n    \"_id\":UserID\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":180,"wires":[["fa9f1f9e.87532"]]},{"id":"9863afee.2b823","type":"debug","z":"9bbd0ed4.749c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"f60ebdf4.eab5","type":"function","z":"9bbd0ed4.749c4","name":"","func":"var Password=global.get(\"Password\");\nif(Password==Password){\n    msg.payload=\"Hi! Login successful\"\n}\nelse{\n    msg.payload=\"Invalid password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":240,"wires":[["f2d295b2.5a9728"]]},{"id":"c374737b.7e2e3","type":"function","z":"9bbd0ed4.749c4","name":"","func":"msg.payload={\n     _id:msg.payload.Product,\n     Product:msg.payload.Product,\n     Quantity:msg.payload.Quantity,\n     Duration:msg.payload.Duration,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["299438a5.f02558"]]},{"id":"299438a5.f02558","type":"cloudant out","z":"9bbd0ed4.749c4","name":"","cloudant":"","database":"details_product","service":"node-red-nmypf-cloudant-1594135578802-96553","payonly":true,"operation":"insert","x":500,"y":300,"wires":[]},{"id":"9a78cc7f.6475f","type":"ui_group","z":"","name":"Form","tab":"86be4bb5.684938","order":1,"disp":true,"width":"6","collapse":false},{"id":"159f63cf.848afc","type":"ui_group","z":"","name":"Sign up","tab":"464388d2.0f65b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bb040bc.46622","type":"ui_group","z":"","name":"Product","tab":"220f6d0.4f86994","order":1,"disp":true,"width":"6","collapse":false},{"id":"9977e390.e67da","type":"ui_group","z":"","name":"Log in","tab":"464388d2.0f65b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"86be4bb5.684938","type":"ui_tab","z":"","name":"Product Details","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"464388d2.0f65b8","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"220f6d0.4f86994","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":10,"disabled":false,"hidden":false}]